.image {
  border-radius: 5px;
}

.blog {
  & > h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0 20px;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
  }

  & > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 40px 0 16px;
    border-bottom: 1px solid #ddd;
  }

  & > p {
    line-height: 1.8;
    letter-spacing: 0.2px;
  }

  & > ol {
    list-style-type: none;
    list-style-position: inside;
  }

  & > ul {
    list-style-type: none;
    list-style-position: inside;
  }

  & > ul > li > ul {
    margin-left: 2em;
    padding-top: 0.2rem;
    list-style-type: none;
    list-style-position: inside;
  }

  li {
    padding: 0.3rem 0;

    &:before {
      color: #f3a7a9;
      content: 'â—';
      padding-right: 0.5rem;
    }
  }

  & > code {
    border-radius: 5px;
  }

  a {
    color: #2a96c9;
    position: relative;
    display: inline-block;
  }
  a:visited {
    color: #2a96c9;
  }

  a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0;
    height: 2px;
    background-color: #2a96c9;
    transition: 0.6s;
    transform: translateX(0%);
  }

  a:hover::after {
    width: 100%;
  }
}
